.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Exo&family=Public+Sans&family=Roboto&display=swap');

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Public Sans';
  font-size: 1.2em;
}

.add {
  border: 1px solid rgb(224, 106, 106);
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}


